*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #FF206E;
    color: #FBFF12;
    font-family: 'Times New Roman', Times, serif;
    
}

#gParent{
    height: 100vh;
    width: 100%;
    text-align: center;
}

#gParent h1{
    position: relative;
    top: 5%;
    font-size: 4rem;

}

.container{
    height: 80%;
    width: 60%;
    justify-self:center ;
    margin-top: 3.1%;
}

.game{
    height: 80%;
    width: 70%;
    justify-self: center;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.box{
    text-align: center;
    margin-top: 1%;
    height: 30%;
    width: 30%;
    border-radius: 2rem;
    font-size: 3rem;
    background-color: #41EAD4;
    border: none;
    color: black;
}

.reset{
    height: 10%;
    width: 15%;
    border-radius: 2rem;
    font-size: 1.3rem;
    background-color: black;
    color: #FBFF12;
    font-weight: 400;
    margin-top: 3%;
    margin-right: 5%;
}

/* Css done */